body{
    background-color: rgb(126, 126, 175);  
    animation: fadeIn 3s;
    margin:0;
    padding:0; 
    font-family: Arial, Helvetica, sans-serif; 
}


h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  color: rgb(100, 20, 171);
  text-align: center;

}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  color: rgb(100, 20, 171);
  text-align: center;

}
p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  color: rgb(89, 9, 111);
  text-align: center;
}
img {
  max-width: 30%;
  width:15%;
  box-shadow:5px 5px 15px rgba(0,0,0,0.9);
  height: auto;
  margin:0 auto;
  display:block
  
}
.different-image {
   width: 150px;
   height:auto;
}
footer{
  text-align: center;
  background-color:rgb(126, 126, 205) ;
}
header{
  
  background-color: rgb(126, 126, 205);
  

}
nav{
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
}


a:hover {
 background-color: #facefb;
 color: #23527c;
 transition: all 0.8s ease-in-out;
}
a:active{
  transform: scale(0.9);
  box-shadow: none;
}
/* For small screens (mobile devices) */
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  img {
    width: 100%;
    height: auto;
  }
}

/* For medium screens (tablets) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
  img {
    width: 80%;
    height: auto;
  }
}

/* For large screens (desktops) */
@media only screen and (min-width: 1025px) {
  body {
    font-size: 18px;
  }
  img {
    width: 60%;
    height: auto;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

table{
  border: 1px;
  background-color: rgb(138, 138, 214);
  margin-left: auto;
  margin-right: auto;
}
/* Responsive Typography */

@media (max-width: 1024px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 16px;
  }
}

body:after {
    content: url(../images/close.png) url(../images/loading.gif) url(../images/prev.png) url(../images/next.png);
    display: none;
}

/* z-index specifies if something is in front of another element or behind another element */
.lightboxOverlay {
    position : absolute;
    top : 0;
    left : 0;
    z-index : 9999;
    background-color: black;
    opacity: 0.8;
    display: none;
}
.lightbox {
    position : absolute;
    left : 0;
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
}

.lightbox .lb-image{
    display: block;
    height: auto;
    border-radius: 3px;
}

.lightbox a img {
    border: none;
}

.lb-outerContainer {
    position: relative;
    background-color: white;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 4px;
}

.lb-outerContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-container {
    padding: 4px;
}

.lb-loader {
    position: absolute;
    top: 43%;
    left: 0%;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}

.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(../images/loading.gif) no-repeat;
}

.lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}
/* applying positioning to the nav that is a direct child of a container */
.lb-container > .nav {
    left: 0;
}

.lb-nav a {
    outline: none;
}

.lb-prev, .lb-next {
    width: 49%;
    height: 100%;
    cursor: pointer;
    /* trick the internet explorer into showing hover */
    display: block;
}

.lb-prev {
    left: 0;
    float: left;
}

.lb-prev:hover {
    background: url(../images/prev.png) left 48% no-repeat;
}

.lb-next {
    right: 0;
    float: right;
}

.lb-next:hover {
    background: url(../images/next.png) right 45% no-repeat;
}

.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    width: 100%;
    border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-data {
    padding: 0 4px;
    color: #bbbbbb;
}

.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em;
}

.lb-data .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
}

.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999999;
}

.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(../images/close.png) top right no-repeat;
    text-align: right;
    outline: none;
    opacity: 0.7;
}

.lb-data .lb-close:hover {
    cursor: pointer;
    opacity: 1;
}
