body{
    background-color: rgb(126, 126, 175);  
    animation: fadeIn 3s;
    margin:0;
    padding:0; 
    font-family: Arial, Helvetica, sans-serif; 
}


h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  color: rgb(100, 20, 171);
  text-align: center;

}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  color: rgb(100, 20, 171);
  text-align: center;

}
p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  color: rgb(89, 9, 111);
  text-align: center;
}
img {
  max-width: 30%;
  width:15%;
  box-shadow:5px 5px 15px rgba(0,0,0,0.9);
  height: auto;
  margin:0 auto;
  display:block
  
}
.different-image {
   max-width:300px;
  height: 300px;

}
footer{
  text-align: center;
  background-color:rgb(126, 126, 205) ;
}
header{
  text-align: center;
  padding: 10px;
  display: flex;
  background-color: rgb(126, 126, 205);
}


a {
  display: block;
  margin-right: 20%;
}

a:hover {
 background-color: #facefb;
 color: #23527c;
 transition: all 0.8s ease-in-out;
}
a:active{
  transform: scale(0.9);
  box-shadow: none;
}
/* For small screens (mobile devices) */
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  img {
    width: 100%;
    height: auto;
  }
}

/* For medium screens (tablets) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
  img {
    width: 80%;
    height: auto;
  }
}

/* For large screens (desktops) */
@media only screen and (min-width: 1025px) {
  body {
    font-size: 18px;
  }
  img {
    width: 60%;
    height: auto;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

table{
  border: 1px;
  background-color: rgb(138, 138, 214);
  margin-left: auto;
  margin-right: auto;
}
/* Responsive Typography */

@media (max-width: 1024px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 16px;
  }
}
